:root {
    --red: #f23557;
    --yellow: #f0d43a;
    --blueL: #22b2da;
    --blueD: #3b4a6b;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    background-color: var(--blueD);
    color: var(--blueL);
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: var(--blueL);
}

.players {
    margin-bottom: 20px;
    text-align: center;
}

.players label {
    font-size: 18px;
    color: var(--blueL);
}

.players input {
    padding: 8px;
    margin: 5px;
    border: 2px solid var(--blueL);
    border-radius: 5px;
    font-size: 16px;
}

#start {
    background-color: var(--yellow);
    color: var(--blueD);
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

#start:hover {
    background-color: #e0c232;
}

#start:hover {
    background-color: #e0c232;
}

#turns {
    margin-top: 20px;
    font-size: 25px;
    color: var(--blueL)
}

.board {
    margin-top: 50px;
    display: none;;
    /* display: grid; */
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
}

.cell {
    border: 8px solid var(--blueL);
    border-left: none;
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6em;
    font-weight: bold;
    cursor: pointer;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:nth-child(n + 7) {
    border-bottom: none;
}

.cell.X {
    color: var(--red);
}

.cell.O {
    color: var(--yellow);
}

#restart {
    display: none;
    background-color: var(--red);
    color: #fff;
    font-size: 1em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

#restart:hover {
    background-color: #d81b3b;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
